body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.hero-image {
  background-image: url("bg1.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(17, 17, 17, 0.8);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: White;
}

.image-set {
  display: flex;
}

.image-set .image {
  height: 300px;
  width: 300px;
}

.back {
  padding: 30px;
}

.back a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 2em;
  color: white;
}

.back a:hover {
  background-color: #ddd;
  color: black;
}
